.headingline{
    text-align: center;
    color:black;
    background-color:yellow ;
    padding: 3rem 3rem;
    border-radius: 0.5rem;
}
.button-style{
    color: black;
    background-color:yellow ;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    
}
.foot-style{
    background-color:yellow;
    color:black;
    padding: 0.5rem 6rem;
    border-radius: 0.5rem;
    
    
}
.abt-align{
    text-align: center;
    color: black;
    padding: 0.5rem;
}